@model dynamic

@{
    //ViewBag.Title = "Let's roll!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Roll</h2>
            <button id="sendmessage" type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-star"></span> Roll
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <ul id="discussion"></ul>
        </div>
    </div>
</div>

<input type="hidden" id="displayname" />

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.rollHub;
            chat.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            $('#displayname').val(prompt('Enter your name:', ''));

            $.connection.hub.start().done(function () {
                chat.server.joinRoll(window.location.pathname);

                $('#sendmessage').click(function () {
                    chat.server.roll(window.location.pathname, $('#displayname').val());
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}